# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 32d2db15279e87c3b9dc38dcdff07ca884fa1d7538b2dc81f1436663ef7eaab124e547c482f6ada2d22f11b5e094c3b3a54ddeedcf520b35441c68e8c7d81f76

test:
  secret_key_base: 322fa78a00e16454c97c8d98080806a7b2bf21525ac51c265319dad7a74f79222dd3796d86f0d002e0a577192c9d9b221a45d19e3de6c5de1d3d025ed5e2fec4

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
